.homeCad{
	padding: 10px;
	border: 2px solid var(--primary-color);
	border-radius: 15px;
	background-color: #e9e9e9; 
	margin: 10px;
}

label{
	display: block;
	cursor: pointer;
}
input{
	width: 100%;
	border-radius: 10px;
	padding-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.homeCad span{
	color: red;
}
