.centralizar_h2 {
    text-align: center;
    text-decoration: underline;
}

.btnPersonalLista{
    margin: 5px 0px 0px 10px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer
}
td{
    color: black;
    font-weight: bold;
}

.containerPersonal {
    text-align: center;
    text-decoration: underline;
}
